#launches {
  background: rgb(151, 156, 253);
  background: radial-gradient(
    circle,
    rgb(151, 156, 253) 0%,
    rgba(217, 164, 207, 1) 88%
  );
  margin-top: -0.1rem;
  margin-bottom: -0.1rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 1;
  border-top: 1rem rgba(217, 164, 207, 1) solid;
}

.top {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 825px) {
  #launches {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 455px) {
  #launches {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
