:root {
  --buttonBg: linear-gradient(98.63deg, #fff29f 0%, #ff7ffb 100%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 0.3s ease-out;
  width: 13rem;
  min-height: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
}

.button:hover {
  cursor: pointer;
  color: white;
  background: transparent;
  box-shadow: 0px 0px 0px 2px white inset;
}

body.modal-open > :not(.modal) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.blur {
  position: absolute;
  width: clamp(5rem, 33vw, 100rem);
  height: 60rem;
  border-radius: 50%;
  background: #ffbaefde;
  filter: blur(150px);
  z-index: 2;
}

.blur2 {
  position: absolute;
  width: clamp(5rem, 33vw, 100rem);
  height: 70rem;
  border-radius: 50%;
  background: #aea6fa;
  filter: blur(150px);
  z-index: 2;
}

.blur3 {
  position: absolute;
  width: clamp(5rem, 33vw, 100rem);
  height: 70rem;
  border-radius: 50%;
  background: #8dadffe3;
  filter: blur(150px);
  z-index: 2;
}

.blur4 {
  position: absolute;
  width: clamp(5rem, 33vw, 100rem);
  height: 70rem;
  border-radius: 50%;
  background: #99a9fad3;
  filter: blur(150px);
  z-index: 2;
}
